<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>JavaAppLauncher</string>
    <key>CFBundleIconFile</key>
    <string>GenericJavaApp.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.glacsweb.rti.installer.App</string>
    <key>CFBundleDisplayName</key>
    <string>RTI VIPS Installer</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>RTI VIPS Installer</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0-SNAPSHOT</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>JVMRuntime</key>
    <string>JRE</string>
    <key>JVMMainClassName</key>
    <string>org.glacsweb.rti.installer.App</string>
    <key>JVMClassPaths</key>
    <array>
      <string>org/glacsweb/rti/rti-vips-installer/1.0-SNAPSHOT/rti-vips-installer-1.0-SNAPSHOT.jar</string>
      <string>com/google/code/gson/gson/2.3.1/gson-2.3.1.jar</string>
      <string>org/apache/commons/commons-lang3/3.4/commons-lang3-3.4.jar</string>
      <string>commons-io/commons-io/2.2/commons-io-2.2.jar</string>
      <string>commons-lang/commons-lang/2.6/commons-lang-2.6.jar</string>
    </array>
    <key>JVMVersion</key>
    <string>1.6+</string>
    <key>JVMOptions</key>
    <array>
      <string>-Dapple.laf.useScreenMenuBar=true</string>
      <string>-Xdock:name=RTI VIPS Installer</string>
    </array>
    <key>JVMArguments</key>
    <array/>
    <key>LauncherWorkingDirectory</key>
    <string>$APP_ROOT/Contents/Resources/Java</string>
  </dict>
</plist>
